.nav {
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.nav__item {
    padding: 4px 6px;

    color: black;
    font-weight: bold;
    text-decoration: none;


    border: 1px solid #eee;
    cursor: pointer;


    &:hover {
        background-color: #eee;
    }

    &.is-active {
        border-color: #7ea7fa;
    }
}


.nav__logout {
    margin-left: auto;
}
