.choose-typeahead {

}

.choose-typeahead__variable-list {
    margin-top: 10px;
}

.choose-typeahead__variable {

    cursor: pointer;
    padding: 2px 6px;

    &.is-highlighted {
        background-color: #eee;
    }

    &.is-selected {
        font-weight: bold;
    }
}
