.choose-typeahead {

}

.choose-typeahead__variable-list {
    margin-top: 10px;
}

.choose-typeahead__variable {

    cursor: pointer;
    padding: 2px 6px;

    &.is-highlighted {
        background-color: #eee;
    }

    &.is-selected {
        font-weight: bold;
    }
}

.choose-typeahead__input {
    position: relative;

    input {
        width: 100%;
    }

    .svg-x {
        position: absolute;
        right: 0;
        top: 3px;

        cursor: pointer;

        &:hover {
            fill: #555;
        }
    }
}
